# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Jupyter
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# Virtual environments
venv/
env/
.venv/
.env

# Distribution / packaging
build/
dist/
*.egg-info/

# IDE / editor
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log
